:root {
  --primary-color: #212121;
  --highlight: #2196f3;
  --grey: #757575;
  --bg-main: #f5f5f5;
  --bg-grey: #f5f4fa;
  --bg-dark: #2f303a;
  --white: #ffffff;
  --black: #000000;
  --white-transparent: rgba(255, 255, 255, 0.6);
  --header-border: #ececec;
  --card-border: #eeeeee;
}

ul {
  list-style: none;
}

ul,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  width: 1600px;
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: var(--white);
  border-bottom: 1px solid var(--header-border);
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--black);
  text-decoration: none;
  margin-right: 93px;
}

.first-word {
  color: var(--highlight);
}

.menu,
.contacts {
  display: flex;
}

.contacts {
  margin-left: auto;
}

.menu-link,
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  text-decoration: none;
}

.menu-item:not(:last-child),
.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link:hover,
.menu-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--highlight);
}

.contacts-link {
  color: var(--grey);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-section {
  background-color: var(--bg-dark);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-button {
  background-color: var(--highlight);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white);
  padding: 10px 32px;
}

.features-title,
.what-we-do-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  text-align: center;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.features-list,
.what-we-do-list,
.team-list {
  display: flex;
}

.features-item:not(:last-child),
.what-we-do-item:not(:last-child),
.team-card:not(:last-child) {
  margin-right: 30px;
}

.features-item {
  width: 270px;
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey);
}

.features-title,
.what-we-do-title,
.team-title {
  margin-bottom: 50px;
}

.features {
  padding-bottom: 0;
}

.what-we-do-image {
  display: block;
}

.team {
  background-color: var(--bg-grey);
}

.team-card {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-photo,
.team-role {
  margin-bottom: 30px;
}

.team-photo {
  display: block;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 10px;
}

.team-role {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--grey);
  text-align: center;
}

.footer {
  background-color: var(--bg-dark);
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  flex-direction: column;
}

.logo-footer {
  color: var(--white);
  margin-bottom: 20px;
}

.address-footer,
.email-footer,
.tel-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-transparent);
  font-style: normal;
  text-decoration: none;
}

.address-footer {
  color: var(--white);
}

.address-footer:hover,
.address-footer:focus,
.email-footer:hover,
.email-footer:focus,
.tel-footer:hover,
.tel-footer:focus {
  color: var(--highlight);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

/* portfolio.html */

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-filters-button {
  background-color: var(--bg-grey);
  border-radius: 4px;
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.filters-item:not(:last-child) {
  margin-right: 6px;
}

.projects-filters-button {
  padding: 6px 22px;
}

.projects-filters-button:hover,
.projects-filters-button:focus {
  background-color: var(--highlight);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  background-color: var(--white);
}

.project-card-description {
  border: 1px solid var(--card-border);
  border-top-color: transparent;
}

.project-card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.project-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.project-item {
  text-decoration: none;
}

.project-item-title {
  margin-top: 20px;
}

.project-item-text {
  margin-bottom: 20px;
}

.project-item-image {
  display: block;
}

.project-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  margin-bottom: 4px;
  padding-left: 24px;
}

.project-item-text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--grey);
  padding-left: 24px;
}

.project-item-title:hover,
.project-item-title:focus,
.project-item-text:hover,
.project-item-text:focus {
  color: var(--highlight);
}
